
body {
    background-color: #ffffff; 
}


@media screen and (max-width: 600px) {
    body {
        background-color: #333333; 
        color: #ffffff;
    }

}



.arrondie {

    border-radius: 3px;
    width: 20%;
    height: 100%;
    opacity: 1; 
    transition: opacity 0.3s ease; 
}

.arrondie:hover {
    opacity: 0.7; 
}

#Projects1 img.arrondie {
    filter: grayscale(100%);
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    background-color: #333; 
    position: sticky;
    justify-content: space-between;
   
    top: 0; 
}

nav ul li {
    margin-right: 20px; 
    position: relative;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333; 
}


nav ul li:hover > ul {
    display: flex;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
}


nav ul ul a {
    padding: 10px;
}


nav a:hover {
    background-color: #555; 
}

